version: 2.1
orbs:
  <orb-name>: revenuecat/sdks-common-config@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.1

filters: &filters
  tags:
    only: /.*/

jobs:
  test-install-tuist:
    macos:
      xcode: 16.4.0
    resource_class: m4pro.medium
    steps:
      - checkout
      - <orb-name>/install-tuist
      - run:
          name: Verify tuist installation
          command: |
            export PATH="$HOME/.local/share/mise/shims:$PATH"
            tuist version

  test-install-public-api-diff:
    macos:
      xcode: 16.4.0
    resource_class: m4pro.medium
    steps:
      - checkout
      - <orb-name>/install-public-api-diff:
          version: "0.10.1"
      - run:
          name: Verify public-api-diff installation
          command: |
            export PATH="$PATH:~/bin"
            public-api-diff --help

  test-install-maestro:
    macos:
      xcode: 16.4.0
    resource_class: m4pro.medium
    steps:
      - checkout
      - <orb-name>/install-maestro
      - run:
          name: Verify Maestro installation
          command: |
            maestro --version

  test-install-swiftlint:
    macos:
      xcode: 16.4.0
    resource_class: m4pro.medium
    steps:
      - checkout
      - <orb-name>/install-swiftlint
      - run:
          name: Verify SwiftLint installation
          command: |
            export PATH="$HOME/.local/share/mise/shims:$PATH"
            swiftlint version

  test-install-xcodes:
    macos:
      xcode: 16.4.0
    resource_class: m4pro.medium
    steps:
      - checkout
      - <orb-name>/install-xcodes
      - run:
          name: Verify xcodes installation
          command: |
            export PATH="$HOME/.local/share/mise/shims:$PATH"
            xcodes version

workflows:
  test-deploy:
    jobs:
      - orb-tools/pack:
          filters: *filters
      - test-install-tuist:
          requires:
            - orb-tools/pack
          filters: *filters
      - test-install-maestro:
          requires:
            - orb-tools/pack
          filters: *filters
      - test-install-public-api-diff:
          requires:
            - orb-tools/pack
          filters: *filters
      - test-install-swiftlint:
          requires:
            - orb-tools/pack
          filters: *filters
      - test-install-xcodes:
          requires:
            - orb-tools/pack
          filters: *filters
      - orb-tools/publish:
          orb-name: revenuecat/sdks-common-config
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/pack
            - test-install-tuist
            - test-install-public-api-diff
            - test-install-maestro
            - test-install-swiftlint
            - test-install-xcodes
          context: orb-publishing
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
